@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  strong {
    color: rgb(146 109 237);
  }
}

@layer components {
  .flex-col-row {
    @apply flex flex-col items-center sm:flex-row;
  }

  .container-section {
    @apply w-[90%] max-w-6xl mx-auto my-16 scroll-mt-[78px];
  }

  .menu-burger-open {
    @apply h-auto flex pt-3;
  }

  .menu-burger-close {
    @apply h-0 hidden overflow-hidden pt-0;
  }
}

@font-face {
  font-family: LemonTuesday;
  font-style: normal;
  src: url("/fonts/Lemon Tuesday.otf") format("opentype");
}
